<!DOCTYPE html>
<html>
<head>
  <title>Curate</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900|Bowlby+One|Coda|Chivo:400,900' rel='stylesheet' type='text/css'>
</head>
<body id="albums-body">
<script>
  var currentUser = "<%=current_user.username if current_user%>"
  var thisUser = "<%=User.find_by_username(params[:username]).username if params[:username] && User.find_by_username(params[:username]) %>";
  var thisUserSongCount = "<%=User.find_by_username(params[:username]).songs.length if params[:username] && User.find_by_username(params[:username]) %>";
  var thisUserAlbumCount = "<%=User.find_by_username(params[:username]).albums.length if params[:username] && User.find_by_username(params[:username]) %>";
  var showAdd = (currentUser == thisUser)
</script>

<div id="flash">
</div>

<% if @load_left_rail %> 
  <div class="row-fluid dark_gray bottom_pad">
    <div class="span2 nopad nomarg">
      <div id="left_rail_content">
        <div id="user_name">
        </div> </br>
        <div id="album_selector">
        </div> </br>
        <div id="song_selector">
        </div>
      </div>
      <div id="devise_holder">
        <% unless @hide_search == true %>
          <div class="devise_link_holder" id="search_holder">
            <div id="search_field">
              <i class="icon-search" id="search_icon">
              </i> 
                <select id="bottom_search" onChange="directToUser()">
                  <option></option>
                  <% User.all.each do |user| %>
                    <option> <%= user.username %> </option>
                  <% end %>
                </select>
              
                <style type="text/css">
                  .select2-container .select2-choice div {
                    display: none;
                  }
                  #select2-drop{
                    margin-top: 0px;
                    border-color: #5897fb;
                  }
                </style>
            </div>
          </div>
        <% end %>
        <% if user_signed_in? %>
          <div class="devise_link_holder">
            <a class="devise_link" href="/<%=current_user.username%>"> My Page </a>
          </div>
          <div class="devise_link_holder">
            <a class="devise_link" href="/users/edit"> My Account </a>
          </div>
          <div class="devise_link_holder">
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "devise_link" %>
          </div>
        <% else %>
          <div class="devise_link_holder">
            <a class="devise_link" href="/users/sign_up"> Sign Up </a>
          </div>
          <div class="devise_link_holder">
            <a class="devise_link" href="/users/sign_in"> Sign In </a>
          </div>
        <% end %>
      </div>
    </div>
    <div id="yield_area">
      <%= yield %>
    </div>
  </div>
<% else %>
  <div id="yield_area">
    <%= yield %>
  </div>
<% end %>
</body>
<div id="bottom_pad">
</div>
</html>

  <script >
    $("#bottom_search").select2({
      placeholder: "Search for a User",
      allowClear: false,
      minimumInputLength: 1
     });
  </script>