<!DOCTYPE html>
<html>
<head>
  <title>Curate</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900|Bowlby+One|Coda|Chivo:400,900' rel='stylesheet' type='text/css'>
</head>
<body id="albums-body">
<script>
  var currentUser = "<%=current_user.username if current_user%>"
  var thisUser = "<%=User.find_by_username(params[:username]).username if params[:username] && User.find_by_username(params[:username]) %>";
  var thisUserSongCount = "<%=User.find_by_username(params[:username]).songs.length if params[:username] && User.find_by_username(params[:username]) %>";
  var thisUserAlbumCount = "<%=User.find_by_username(params[:username]).albums.length if params[:username] && User.find_by_username(params[:username]) %>";
  var showAdd = (currentUser == thisUser)
</script>

<% if @load_left_rail %> 
  <div class="row-fluid dark_gray">
    <div class="span2 nopad nomarg">
      <div id="left_rail_content">
        <div id="user_name">
        </div> </br>
        <div id="album_selector">
        </div> </br>
        <div id="song_selector">
        </div>
      </div>
      <div id="devise_holder">
        <% if user_signed_in? %>
          <div class="devise_link_holder">
            <a class="devise_link" href="/<%=current_user.username%>"> My Page </a>
          </div>
          <div class="devise_link_holder">
            <a class="devise_link" href="/users/edit"> My Account </a>
          </div>
          <div class="devise_link_holder">
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "devise_link" %>
          </div>
        <% else %>
          <div class="devise_link_holder">
            <a class="devise_link" href="/users/sign_up"> Sign Up </a>
          </div>
          <div class="devise_link_holder">
            <a class="devise_link" href="/users/sign_in"> Sign In </a>
          </div>
        <% end %>
      </div>
    </div>
    <div id="yield_area">
      <%= yield %>
    </div>
  </div>
<% else %>
  <div id="yield_area">
    <%= yield %>
  </div>
<% end %>
</body>
<div id="bottom_pad">
</div>
</html>